importFrom(fs, "path_package")
importFrom(readxl, "excel_sheets")
import(dplyr)
export(readData)
export(readDataFrame)
export(readCSV)
export(readExcel)
export(fileInfo)
export(fileInfo.CSV)
export(readChromatogram.Thermo)
export(readSpectrum.Thermo)
export(fileInfo.Thermo)
export(readProcessing.Thermo)
export(processingThermo.componentName)
export(processingThermo.creatorInfo)
export(processingThermo.componentData)
export(chromatogramInfo.AgilentExport)
export(readChromatogram.AgilentExport.memory)
export(readChromatogram.AgilentExport)
export(peakListInfo.AgilentExport)
export(readPeaklist.AgilentExport.memory)
