importFrom(fs, "path_package")
import(dplyr)
import(purrr)
importFrom(magrittr, "%>%")
import(massSpectrometryR)
import(ggtext)
export(is.Class)
export(formatDigitsWaiver)
export(formatDigits)
export(formatMinimumDigits)
export(formatDigitsLargeNumbers)
export(formatScientificDigits)
export(formatScientificMinimumDigits)
export(reduceSpectrumLabelDF)
export(spectrumLabels)
export(smoothFunction.loess)
export(smoothData)
export(chromatogramFindPeaks)
export(chromatogramFindPeaks.General)
export(chromatogramPeaks.FixedEdges)
export(chromatogramPeaks.FindAreas)
export(chromatogramPeaks.FindAreas.Iterative)
export(chromatogramPeaks.FindAreas.SideIterative)
export(spectrumDetectPeaks)
export(spectrumDetectPeaks.General)
export(spectrumDetectPeaks.Profile)
export(spectrumDetectPeaks.Centroid)
export(plotSpectrum)
export(plotSpectrumOverlay)
export(plotSpectrumMirror)
export(plotChromatogram)
export(plotChromatogramOverlay)
export(plotChromatogramSum)
export(createIonSeries)
export(createIonSeriesMD)
export(annotation)
export(spectrumAnnotation)
export(chromatogramAnnotation)
export(spectrum.plot)
export(spectrum.plot.overlay)
export(spectrum.plot.mirror)
export(spectrum.findPeaks)
export(spectrum.tic)
export(spectrum.basepeak.mz)
export(spectrum.basepeak.intensity)
export(spectrum.mz.intensity)
export(chromatogram.plot)
export(chromatogram.plot.overlay)
export(chromatogram.plot.sum)
export(chromatogram.findPeaks)
export(chromatogram.smooth)
export(chromatogram.intensity.max)
export(msInfo)
